.btnGrid {
  width: 100%;
  border: 0px;
  border-radius: 8px;
  background-color: #f1f2ea;
  margin-top: 0.6rem;
  aspect-ratio: 2 / 1;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btnGrid.active {
  background-color: #5c5252;
  color: white;
}

.btnGrid:active {
  transform: scale(0.94);
}

.btnGrid.inactive {
  opacity: 0.3;
}

.btnGeneral {
  width: auto;
  height: 40px;
  border: 2px solid black;
  border-radius: 70px;
  background-color: #ffffff;
  border-color: black;
  margin: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: default;
  color: black;
}

.btnGeneral.inactive {
  opacity: 0.3;
}

.btnGeneral:hover:not(:disabled) {
  background-color: #f1f2ea;
  cursor: pointer;
}
