.btnGrid {
  width: 100%;
  border: 0px;
  border-radius: 8px;
  background-color: #f1f2ea;
  aspect-ratio: 2 / 1;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  animation: fadeIn 0.5s;
  transition: all 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btnGrid.active {
  background-color: #5c5252;
  color: white;
}

.btnGrid:active {
  transform: scale(0.9);
}

.btnGrid.inactive {
  opacity: 0.5;
}

.btnGeneral {
  width: auto;
  height: 40px;
  border: 2px solid black;
  border-radius: 70px;
  background-color: #ffffff;
  border-color: black;
  margin: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: default;
  color: black;
}

.btnGeneral.inactive {
  opacity: 0.3;
}

.btnGeneral:hover:not(:disabled) {
  background-color: #f1f2ea;
  cursor: pointer;
}

.correctDisplay {
  width: 100%;
  border: 0px;
  border-radius: 8px;
  background-color: #e1ff00;
  aspect-ratio: 7 / 1;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  animation: fadeIn 0.5s;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}