.btnGrid {
  width: 100%;
  border: 0px;
  border-radius: 8px;
  background-color: #f1f2ea;
  margin-top: 0.6rem;
  aspect-ratio: 2 / 1;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btnGrid.active {
  background-color: #5c5252;
  color: white;
}

.btnGrid.inactive {
  opacity: 0.3;
}

.btnGeneral {
  width: auto;
  height: 40px;
  border: 2px solid black;
  border-radius: 70px;
  background-color: #ffffff;
  border-color: black;
  margin: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btnGeneral:hover {
  background-color: #f1f2ea;
}
