.btn {
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  aspect-ratio: 1 / 1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btnSpace {
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}

.btnSpace:hover:not(:disabled),
.btnSpace:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}

.btnSpace.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btnSpace.inactive {
  opacity: 0.3;
}

.btnSpace:hover:not(:disabled),
.btnSpace:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}
